.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid whitesmoke;
    background-color: #FFF2CC;
    padding: 0.8rem 0;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index:10px
 
}
.header__left{
    display: flex;
    align-items: center;
    width: 30%;
}

.header__right{
    width: 30%;
    display: flex;
    align-items: center;
}

.header__right form{

    margin-right: 1rem;
}

.header__medium{
    display: flex;
    align-items: center;
    width: 30%;
}

.header_medium h3{

    display: flex;
    margin-right: 1rem;
    align-items: ceneter;
}

.header__mediun h3 span{
    display: flex;


}


.header__left img {
   width: 4rem;
   height:4rem;
   margin-left: 1rem;
   border: 10px solid  yellow;
}