.main{
   
    display: flex;
    flex-direction: column;
    flex: 0.8;
    transform: translate(-200px);
}

.main__input{
    border-radius: 1rem;
    padding: 1rem;
    margin:1rem;
}

.main__inputForm{
   
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-width: 380px;
}

button{
    display: none;
}

.main__inputFormText{
    flex: 0.9;
 

}